footer.footer some Footer

script(src='assets/js/app.js')

//-         <!-- =========== Inline <symbol> SVG sprite ===========-->
//-         <div class="visually-hidden">
//-             <svg width="0" height="0" style="position:absolute">
//-                 <symbol viewBox="0 0 16 38" id="left-arrow" xmlns="http://www.w3.org/2000/svg">
//-                     <defs>
//-                         <path id="aa" d="M305.3 1810l-15.3 18.69 15.8 19.31"/>
//-                         <clipPath id="ab">
//-                             <use fill="currentColor" xlink:href="#aa"/>
//-                         </clipPath>
//-                     </defs>
//-                     <use fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-miterlimit="50" stroke-width="6"
//-                          clip-path="url(#ab)" xlink:href="#aa" transform="translate(-290 -1810)"/>
//-                 </symbol>
//-                 <symbol viewBox="0 0 16 38" id="right-arrow" xmlns="http://www.w3.org/2000/svg">
//-                     <defs>
//-                         <path id="ba" d="M1626.7 1810l15.3 18.69-15.8 19.31"/>
//-                         <clipPath id="bb">
//-                             <use fill="currentColor" xlink:href="#ba"/>
//-                         </clipPath>
//-                     </defs>
//-                     <use fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-miterlimit="50" stroke-width="6"
//-                          clip-path="url(#bb)" xlink:href="#ba" transform="translate(-1626 -1810)"/>
//-                 </symbol>
//-                 <symbol viewBox="0 0 25 23" id="star" xmlns="http://www.w3.org/2000/svg">
//-                     <defs>
//-                         <path id="ca"
//-                               d="M131.14 8.82l-6.66 5.69 1.32 8.28-7.56-4.14-7.9 3.97 2-8.25-6.2-5.83 8.79-.95 4.06-7.58 3.44 7.66z"/>
//-                     </defs>
//-                     <use fill="#ffbc1d" xlink:href="#ca" transform="translate(-106)"/>
//-                 </symbol>
//-                 <symbol viewBox="0 0 67 63" id="star-empty" xmlns="http://www.w3.org/2000/svg">
//-                     <path d="M33 10.822l5.797 11.746 1.163 2.357 2.602.378 12.963 1.884-9.38 9.143-1.882 1.835.444 2.591 2.214 12.91-11.594-6.096L33 46.348l-2.327 1.223-11.594 6.096 2.214-12.91.444-2.591-1.882-1.835-9.38-9.143 12.962-1.884 2.602-.378 1.163-2.357L33
//-                      10.822M33-.475l-10.281 20.83L-.27 23.696 16.365 39.91l-3.927 22.896L33 51.996l20.562 10.811-3.927-22.897L66.27 23.696l-22.99-3.341L33-.475z"
//-                           fill="#ffbc1d"/>
//-                 </symbol>
//-                 <symbol viewBox="0 0 67 63" id="star-half" xmlns="http://www.w3.org/2000/svg">
//-                     <path d="M66.27 23.696l-22.99-3.341L33-.475l-10.281 20.83L-.27 23.696 16.365 39.91l-3.927 22.896L33 51.996l20.562 10.811-3.927-22.897L66.27 23.696zM35.327 47.57L33 46.348V10.822l5.797 11.746 1.163 2.357 2.602.378 12.963 1.884-9.38 9.143-1.882 1.835.444 2.591 2.214 12.91-11.594-6.096z"
//-                           fill="#231F20"/>
//-                 </symbol>
//-             </svg>
//-         </div>
//-         <!-- ==================================================-->
//-         <script src="assets/js/app.js"></script>
//-     </body>
//- </html>
